
body {
    background-color: rgb(233, 237, 194);
}

.topnav {
    background-color: rgb(233, 237, 194);
    overflow: hidden;
}


.topnav a {
    float: right;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    font-size:16px;
    color:#fff!important;
    text-shadow: 1px 1px 1px #000;
}

.topnav a:hover {
    background-color: #f2ddc6;
    color: #ffffff;
}

.topnav a.active {
    background-color: rgb(154, 132, 160);
    color: #ffffff;
}
