<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.username">postgres</property>
    <property name="connection.password">7296</property>

    <property name="show_sql">true</property>
    <property name="hbm2ddl.auto">update</property>

    <property name="current_session_context_class">thread</property>

    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>

    <mapping class="ru.itmo.kotiki.dao.entity.Cat"/>
    <mapping class="ru.itmo.kotiki.dao.entity.Friendship"/>
    <mapping class="ru.itmo.kotiki.dao.entity.Owner"/>
    <mapping class="ru.itmo.kotiki.dao.entity.Ownership"/>

  </session-factory>
</hibernate-configuration>